*,
 *:before,
 *:after {
    margin: 0
 }
 
html {
    margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: center;
     width: 100%;
 }
 body {
     font-size: 14px;
     line-height: 1.5; 
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     color: #767e9e;
     background: #f2f2f2;
     height: 100%;
 }
 
 a {
     color: #000;
 }
 
 a:hover,
 a:focus {
     color: #dc6e5d;
 }
 
 h2 {
     font-size: 30px;
     font-weight: 700;
     margin-bottom: 10px;
 }
 
 h3 {
     font-size: 18px;
     font-weight: 700;
     margin-bottom: 10px;
 }
 
 .header {
     background: #303441;
     border-bottom: 6px solid #373b4a;
 }
 
 .header-logo {
     position: relative;
     padding: 20px 0 14px;
     margin-left: 8%;
     margin-right: 9%;
 }
 
 .logo {
     position: absolute;
     top: 0;
     left: 40;
     display: block;
     width: 10%;
     height: 5%;
     line-height: 95px;
     color: #fff;
     font-size: 25px;
     font-weight: 700;
     text-decoration: none;
     text-transform: uppercase;
        }
 
 .logo:after {
     content: "*";
     color: #ee5052;
     font-weight: 400;
 }
 
 .nav {
     text-align: right;
 }
 
 .nav li {
     display: inline-block;
 }
 
 .nav li:after {
     color: #494e62;
     margin-left: 7px;
 }
 
 .nav .last:after {
     display: none;
 }
 
 .nav a {
     display: inline-block;
     padding: 10px 0;
     text-decoration: none;
    color: #fff;
     text-transform: uppercase;
     margin-left: 10px;
     border-bottom: 2px solid transparent;
     }
 
 .nav .active {
     color: #ee5052;
 }
 
 .pod {
     padding: 36px 40px;
     margin-left: 7%;
         
                }
 .pod .baseline {
         width: 86%;
          }
     
     .baseline {
         font-size: 18px;
           }
     
 .list-services {
     margin: 40px 40px;
             }
 
 .list-services div {
     float: left;
     padding-left: 80px;
     width: 300px;
     margin: 10px;
     position: relative;
     background: #f2f2f2;
    }
 
 .list-services div:after {
     position: absolute;
     top: 0;
     left: 0;
     content: "";
     display: block;
     width: 60px;
     height: 60px;
     background-repeat: no-repeat;
      background: #f2f2f2;
     background-image: url(./icons.png);
 }
 
 .list-services .service-design:after {
     background-position: 0 0;
 }
 
 .list-services .service-ideas:after {
     background-position: 60px 0;
 }
 
 .list-services .service-love:after {
     background-position: 120px 0;
 }
 
 .list-services .service-responsive:after {
     background-position: 0 60px;
 }
 
 .list-services .service-support:after {
     background-position: 60px 60px;
 }
 
 .list-services .service-star:after {
     background-position: 120px 60px;
 }
 .slider {
     background: #eb5055;
     border-bottom: 6px solid #ea676b;
 }
 
 .flexslider {
     width: 960px;
     padding: 0;
     margin-left: auto;
     margin-right: auto;
 }
 .slides:after {
     display: block;
      clear: both;
     height: 0;
     line-height: 0;
 }
 
